*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/galaxy.jpg);
    background-size: cover;
}

header{
    max-width: 40%;
    margin: 30px;
    padding: 10px;
}

#title{
    margin-bottom: 30px;
    font-family: 'Codystar', cursive;
    color: white;
    font-size: 80px;
    animation: blink 6s alternate infinite ease-in-out;
}

@keyframes blink {
    0%{
        filter: drop-shadow(0 0 0 white);
    }
    30%{
        filter: drop-shadow(0 0 0.2em white);
    }
    60%{
        filter: drop-shadow(0 0 0.2em white);
    }
    100%{
        filter: drop-shadow(0 0 0 white);     
    }
}

form, #select{
    width: 100%;
    margin: auto;
}

#select{
    display: flex;
    justify-content: center;
}

input{
    padding: 20px 15px;
    width: calc(100% - 40%);
    border: none;
}